body {
    background: linear-gradient(to right ,#b6b8b9,#8f8ff0);
    display : flex;
    justify-content : center;
    align-items : center;
    height : 100vh;
    margin : 0px;
    font-family : Playfair Display , sans-serif;
}
.window {
   background-color : white;
   border : 2px solid #ccc;
   border-radius : 23px;
   padding : 40px;
   box-shadow : 0 0 15px rgba(0,0,0,0.1);
   width: 300px;
   text-align: center;
}
h1 {
    font-size: 36px;
    color: #636f7e;
    margin-bottom: 20px;
}
.user-info {
    font-weight: bold;
    color: #7b6197;
}
p {
    font-size: 18px;
    color: #221e1e;
    margin-bottom: 30px;
}